APP_NAME=Omtbiz
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Kolkata
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=
PAPERTRAIL_URL=
PAPERTRAIL_PORT=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=omtbiz
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=

BROADCAST_DRIVER=null
CACHE_DRIVER=file
CACHE_PREFIX=omtbiz_cache
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_COOKIE=omtbiz_session
SESSION_CONNECTION=
SESSION_STORE=
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_CACHE_DB=1

MEMCACHED_PERSISTENT_ID=
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211

MAIL_DRIVER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=admin@omtbiz.in
MAIL_FROM_NAME=Omtbiz
MAIL_LOG_CHANNEL=

MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAILGUN_ENDPOINT=api.mailgun.net
SES_KEY=
SES_SECRET=
SPARKPOST_SECRET=
SENDGRID_API_KEY=

FILESYSTEM_DRIVER=local
FILESYSTEM_CLOUD=s3
MEDIA_DISK=public
AWS_KEY=
AWS_SECRET=
AWS_REGION=ap-south-1
AWS_BUCKET=
FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe

PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=
PASSPORT_PERSONAL_ACCESS_CLIENT_ID=
PASSPORT_PERSONAL_ACCESS_CLIENT_SECRET=
PROXY_OAUTH_CLIENT_ID=
PROXY_OAUTH_CLIENT_SECRET=
PROXY_OAUTH_GRANT_TYPE=password

WHATSAPP_APP_URL=
WHATSAPP_TOKEN=
WHATSAPP_INSTANCE_ID=

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_WEBHOOK_TOLERANCE=300

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

BCRYPT_ROUNDS=10
